<!-- Footer Section -->

<!-- Stylesheets -->
<link rel="stylesheet" href="/Content/app.css" />
<link rel="stylesheet" href="/stylesheets/footer.css" />
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<br><br><br>
<footer>
    <p> &copy; Copyright 2023. All rights reserved.</p>
</footer>

