<!-- Header Section -->

<!-- Stylesheets -->
<link rel='stylesheet' href='/stylesheets/app.css'/>
<link rel='stylesheet' href='/stylesheets/header.css'/>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

<!-- Navigation bar -->
<nav>
  <div class="logo">
    <a href="/">
      <img src="/Assets/images/Logo.jpeg" alt="Custom Logo">
    </a>
  </div>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contacts-list">Business Contacts</a></li>
      <li><a href="/contact">Contact</a></li>    
  </ul>
</nav>