<!-- Header Section -->

<!-- Stylesheets -->
  <link rel='stylesheet' href='/stylesheets/app.css'/>
  <link rel='stylesheet' href='/stylesheets/header.css'/>

  <!-- Navigation bar -->
  <nav>
    <div class="logo">
      <a href="/">
        <img src="/Assets/images/Logo.jpeg" alt="Custom Logo">
      </a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li> 
        <li><a href="/contacts-list">Business Contacts</a></li>
        <% if (typeof displayName == 'string' && displayName) { %>
          <li><a href="/logout"></i>Logout</a></li>
          <li></i> Welcome, <%= displayName %></li>
          <% } else  { %>
            <li><a href="/login">Login</a></li>
          <% } %>
    </ul>
  </nav>