<%- include('partials/header') %> 
<link rel='stylesheet' href='/stylesheets/style.css'/>
<h1>About Me</h1>
<h2><strong>Fawzia Saad</strong></h2>
<br>
<div class="content-wrapper">
    <img src="/images/headshot.jpeg" alt="Headshot" class="profile-image">
    <p>
        I am a passionate web developer with expertise in HTML, CSS, JavaScript, C#, Java, and SQL. 
        I have a few years of experience working on various web projects and love creating visually appealing and user-friendly websites. 
        My goal is to continuously learn and grow in the field of web development while delivering high-quality solutions to clients.
        You can view my resume here: <a href="/Resume.pdf" target="_blank">Resume (PDF)</a>
    </p>
</div>



