<%- include('partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/project.css'/>

<br>
<h1>Projects</h1>
<br>

<div class="project">
  <img src="/images/passgen.png" alt="Project 1" class="project-image">
  <div class="service-content">
    <h2>Password Generator</h2>
    <p>I worked as a developer to create a custom tkinter password generator made from scratch using Python. </p>
  </div>
</div>

<div class="project">
  <img src="/images/birdsmasher.jpeg" alt="Project 2" class="project-image">
  <div class="service-content">
    <h2>Bird Smasher Game</h2>
    <p>Developed an interactive bird smasher game using HTML5 Canvas.</p>
  </div>
</div>

<div class="project">
  <img src="/images/table.jpeg" alt="Project 3" class="project-image">
  <div class="service-content">
    <h2>Multiplication Table Generator</h2>
    <p>Developed an interactive multiplication table game using JavaScript.</p>
  </div>
</div>
