/* 
    Filename: header.css
    Name: Fawzia Saad
    StudentID: 301296233
    Date: Monday, May 22, 2023
*/

/* Style the navigation menu */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C201F;
    padding: 20px;
    color: #fff;
    height: 90px; /* Set the height of the navigation bar */
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
  
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
nav ul li a:hover {
    background-color: #666;

}

.logo img {
    width: 80px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 20px;
}

li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    margin-top: 80px; /* Create enough space for the navigation */
    padding-bottom: 80px; /* Create enough space for the footer */
}
  
