/* 
    Filename: project.css
    Name: Fawzia Saad
    StudentID: 301296233
    Date: Monday, May 22, 2023
*/
.service {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.service-image {
    width: 100px; /* Adjust the width as needed */
    margin-right: 20px;
}
  
.service-content {
    flex-grow: 1;
}
  
.service h2 {
    margin-top: 0;
}
  
.service p {
    margin-bottom: 0;
}